*.elc
*~$
.recentf
.smex-items
archive-contents
auto-save-list
backups/*
!backups/.gitkeep
cider-history
elpa
ido.last
logs/*.log
melpa-stable
places
projectile-bookmarks.eld
projectile.cache
session/*.desktop
temp
tramp

pre_readme.txt
v1.el
el_snippets.el
custom/circe*
test
transient
